.spyproject/workspace.ini

*.ini

*.pyc
.output/
*.csv
output/choice-and-pref.csv
*.asv
.spyproject*

~$tails for PPP analysis.docx


*.tmp

*.RHistory

data/*
figs/*
output/*
stats/*

data\*


*.ipynb
*.pdf
